.house-section {
  width: 100%;
}

.house-title {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #120D1B;
}

/* GRID */
.house-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.house-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
}

.house-card:hover {
  transform: translateY(-5px);
}

/* IMAGE */
.house-img {
  height: 220px;
  overflow: hidden;
}

.house-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.house-content {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* DESC */
.house-desc {
  font-size: 13px;
  color: #444;
  font-weight: 600;
  margin-bottom: 8px;
}

/* TIME */
.house-time {
  font-size: 12px;
  color: #888;
  margin-bottom: 12px;
}

/* BOTTOM */
.house-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.house-name {
  font-size: 13px;
  font-weight: 500;
  color: #120D1B;
}

.price {
  color: #c89b3c;
  font-weight: 600;
  font-size: 13px;
}

/* BUTTON */
.house-bottom button {
  background: none;
  border: none;
  font-size: 11px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
}

.house-bottom button:hover {
  color: #c89b3c;
  transform: translateX(3px);
}